.container {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff4df;
  border-radius: 20px;
}

#error-message {
  text-align: center;
  margin-bottom: 10px;
}

input {
    width: 320px;
    height: 2em;
    margin: 0 auto;
    display: block;
}

input[placeholder] {
  text-align: center;
}

li {
  display: block;
  height: auto;
  min-height: 50px;
  background-color: red;
  padding: 10px;
  margin: 5px;
  color: #fff;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

button {
  display: inline-block;
  border-radius: 10px;
  background-color: #553905;
  border: 1px solid #553905;
  color: #fff;
  height: 1.5em;
}


#addTaskButton, #removeFinishedTasksButton {
  margin: 0 auto;
  display: block;
  font-size: 1em;
}

p {
  text-align: center;
}
